body
{
   background-color:  rgb(208, 238, 238);
}
#main
{
    margin: auto;
}
#AllDataBox
{
    border-width:0px;
  margin:  auto;
  top:85px;
  width:800px;
  height: 170px;
  display: flex;
  background-color: #f5f5f5;
  border-radius: 20px 20px 0px 0px;
}
.DataBox
{
    border-width:0px;
    width:92px;
    height:21px;
    display:inline-block;
    margin: 0px 15px;
    font-size: 20px;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    font-weight:700;
    text-align: center;
}
.BoxSet
{
   position: relative;
   margin: 0 auto;
}
.cmp
{
    font-size: 12px;
    font-weight: 100;
}
#container
{
    margin:  auto;
    display: block;
}
#information
{
    margin:  auto;
    width: 740px;
    top:980px ;
   
    padding: 2px 30px;
    background-color: #f5f5f5;
    border-radius: 0px 0px 20px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: rgb(40, 42, 78);
}
.ProvinceTitle
{
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.DataDiagram
{
    width: 900px;
    height: 400px; 
    margin: auto;
    top:40px;
}
#statsBox
{
    margin:  auto;
    background-color: #f4f4f4;
    text-align: center;
    padding :15px 0px;
    width:900px;
}