body
{
   background-color:  rgb(208, 238, 238);
}
#main
{
    margin: auto;
}
#AllDataBox
{
    border-width:0px;
  margin:  auto;
  top:85px;
  width:800px;
  height: 170px;
  display: flex;
  background-color: #f5f5f5;
  border-radius: 20px 20px 0px 0px;
}
.DataBox
{
    border-width:0px;
    width:92px;
    height:21px;
    display:inline-block;
    margin: 0px 15px;
    font-size: 20px;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    font-weight:700;
    text-align: center;
}
.BoxSet
{
   position: relative;
   margin: 20px 2px auto;
}
.cmp
{
    font-size: 12px;
    font-weight: 100;
}
#container
{
    margin:  auto;
    display: block;
}
#information
{
    margin:  auto;
    width: 740px;
    top:980px ;
   
    padding: 2px 30px;
    background-color: #f5f5f5;
    border-radius: 0px 0px 20px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: rgb(40, 42, 78);
}
.ProvinceTitle
{
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.DataDiagram
{
    width: 900px;
    height: 400px; 
    margin: auto;
    top:40px;
}
#statsBox
{
    margin:  auto;
    background-color: #f4f4f4;
    text-align: center;
    padding :15px 0px;
    width:900px;
}
#newsBox
{
    margin:  auto;
    background-color: #f9f9f9;
    border:  #777777 2px solid;
    text-align: left;
    padding :15px 0px;
    width:800px;
}
 #newsLabel
{
    display: inline-block;
    background-color: rgb(255, 128, 78);
    padding: 3px 8px;
    font-weight: 600;
    border-radius: 5px;
    margin: 15px;
}
#newsTitle
{
    display: inline-block;
    margin: 10px 2px auto;
}
.getmore 
{
    display: inline-block;
    margin: 10px 2px auto;
    background-color: #b6b6EE;
    padding: 3px 5px;
    
}
.getmore a:link,a:visited
{
    text-decoration: none;
    color: #000000;
}
.getmore a:hover,a:active
{
    background-color: #e5e5ff;
}
